pandas
matplotlib
ipython[all]
sklearn
scipy
numpy
fiona
shapely
# you'll have to install this with
# pip install basemap --allow-external basemap --allow-unverified basemap
basemap
descartes
statsmodels
requests[security]

